modules = ["python-3.11", "postgresql-16"]
[deployment]
run = ["sh", "-c", "python backend/wsgi.py"]
build = ["sh", "-c", "pip install -r backend/requirements.txt"]

[workflows]
runButton = "Flask"

[[workflows.workflow]]
name = "Flask"
author = 41069515
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python backend/wsgi.py"

[[workflows.workflow]]
name = "ة"
mode = "sequential"
author = 41069515

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flask"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flask"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flask"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flask"

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80
